<div class='container'>
  <div class='row'>
    <div class='col-xs-4 col-xs-offset-4'>



<h1>Hello World</h1>

<p>
<%= "#{@counter.count} views" %>
</p>

<!--@counter is the same as  ViewCounter.find_by(page_name:'about').count-->

<%= 2+3 %>


<%= link_to "about",about_path %>
<%= link_to "contact",contact_path %>
